.customer-card {
    position: relative;
    background-color: white;
    border: 1px solid rgba(0,0,0,.03);
    box-shadow: 1px 1px 15px 0 rgba(0,0,0,.1);
    cursor: pointer;
}

.customer-card .customer-details {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 0px;
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
}

.icon-top-right {
    position: absolute;
    top: -13px;
    right: 0;
    left: 97.2%;
    color: white;
    background-color: #CD3333;
    border-radius: 12.5px;
    width: 25px;
    text-align: center;
    height: 25px;
    font-weight: 500;
    display: none;
    user-select: none;
}

.icon-top-right:hover {
    display: block;
}

.customer-card label {
    cursor: pointer;
    font-weight: 500;
    padding: 2px;
    border-bottom: 1px solid rgba(0,0,0,.03);
    user-select: none;
}

.customer-card label p {
    margin-top: 0;
    margin-bottom: 5px;
}

.customer-data {
    font-weight: normal !important;
}

.confirmation-dialog { 
    position: absolute;
    display: none;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    grid-column: 0 /span 4;
    grid-row: 0 /span 2;
    text-align: center;
    top: 0;
    left: 0;
}

.confirmation-dialog-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    width: 80%;
    margin: auto;
    padding: 10px 0;
    background-color: #FFF;
    align-items: center;
    justify-content: center;
}

.confirmation-dialog-details p { 
    margin: 0; 
    font-size: 18px; 
    grid-column: 1 /span 2; 
    padding-bottom: 8px;
}

.confirmation-dialog-details button { 
    font-size: 15px; 
    padding: 5px;
    margin: 0 15px;
    background-color: #FFF;
    border: 1px solid lightgray;
}

.confirmation-dialog-details button:hover {
    background-color: lightgray;
    cursor: pointer;
}